:root {
  --primary-background-color: #f9f7fe;
  --primary-font-color: black;
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-familiy: "Poppins", sans-serif;
  --button-color: #6c63ff;
}
body {
  margin-bottom: 150px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-font-color);
}
p {
  font-family: var(--paragraph-font-familiy);
  font-weight: normal;
  color: var(--primary-font-color);
  font-size: 16px;
}
h2 {
  font-size: 64px;
}
.hero {
  text-align: center;
  background-color: var(--primary-background-color);
  padding-top: 200px;
  padding-bottom: 250px;
}
h1 {
  font-size: 96px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--paragraph-font-familiy);
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 55px;
}
.primary-button {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--button-color);
  padding: 18px 30px;
  border-radius: 4px;
}
.main-body {
  margin-top: 75px;
}
.grid-text {
  color: #272142b2;
}
.project-button {
  font-size: 16px;
  color: var(--button-color);
  text-decoration: none;
  padding: 18px 30px;
  border: 1px solid var(--button-color);
  border-radius: 4px;
}
